Application/StepFunctions/state-machine.json
{
  "Comment": "Image Processing workflow",
  "StartAt": "ExtractImageMetadata",
  "States": {
    "ExtractImageMetadata": {
      "Type": "Task",
      "Resource": "${ExtractImageMetadataFunction.Arn}",
      "InputPath": "$",
      "ResultPath": "$.extractedMetadata",
      "Next": "ImageTypeCheck",
      "Catch": [
        {
          "ErrorEquals": [
            "ImageIdentifyError"
          ],
          "Next": "NotSupportedImageType"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PushToDeadLetterQueue"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "ImageIdentifyError"
          ],
          "MaxAttempts": 0
        },
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ]
    },
    "ImageTypeCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.extractedMetadata.Format",
              "StringEquals": "JPEG"
            },
            {
              "Variable": "$.extractedMetadata.Format",
              "StringEquals": "PNG"
            }
          ],
          "Next": "TransformMetadata",
          "Catch": [
            {
              "ErrorEquals": [
                "States.ALL"
              ],
              "Next": "PushToDeadLetterQueue"
            }
          ]
        }
      ],
      "Default": "NotSupportedImageType"
    },
    "TransformMetadata": {
      "Type": "Task",
      "Resource": "${TransformMetadataFunction.Arn}",
      "InputPath": "$.extractedMetadata",
      "ResultPath": "$.extractedMetadata",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PushToDeadLetterQueue"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "ParallelProcessing"
    },
    "NotSupportedImageType": {
      "Type": "Fail",
      "Cause": "Image type not supported!",
      "Error": "FileTypeNotSupported"
    },
    "ParallelProcessing": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Rekognition",
          "States": {
            "Rekognition": {
              "Type": "Task",
              "Resource": "${RekognitionFunction.Arn}",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "PushToDeadLetterQueue"
                }
              ],
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 2,
                  "BackoffRate": 1.5
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Thumbnail",
          "States": {
            "Thumbnail": {
              "Type": "Task",
              "Resource": "${GenerateThumbnailFunction.Arn}",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "PushToDeadLetterQueue"
                }
              ],
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 2,
                  "BackoffRate": 1.5
                }
              ],
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallelResults",
      "Next": "StoreImageMetadata"
    },
    "StoreImageMetadata": {
      "Type": "Task",
      "Resource": "${StoreImageMetadataFunction.Arn}",
      "InputPath": "$",
      "ResultPath": "$.storeResult",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PushToDeadLetterQueue"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "End": true
    },
    "PushToDeadLetterQueue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.${AWS::Region}.amazonaws.com/${ProcessStateMachineDLQ.QueueName}",
        "MessageBody.$": "$.input.message"
      },
      "End": true
    }
  }
}
